* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
header {
  width: 100%;
  height: 81px;
}
header .wrap {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  line-height: 81px;
}
header .wrap .logo {
  overflow: hidden;
  height: 81px;
  float: left;
}
header .wrap .logo a {
  display: inline-block;
  width: 110px;
  height: 24px;
  background: url(../../img/login/base.png) 0px 0px;
}
header .wrap .zt {
  margin-left: 30px;
  float: left;
  overflow: hidden;
}
header .wrap .zt li {
  float: left;
  font-size: 14px;
  color: gray;
}
header .wrap .zt .black {
  color: #000;
}
header .wrap .right {
  float: right;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 20px;
}
header .wrap .right li {
  float: left;
  padding: 0 20px;
  line-height: 40px;
}
header .wrap .right li a {
  color: #000;
}
header .wrap .right li a:hover {
  color: #00b9f2;
}
.main {
  min-height: 800px;
  width: 100%;
}
/*底部*/
.meizu-footer {
  width: 100%px;
  height: 179px;
  /* border: 1px solid red; */
  background-color: #fff;
}
.meizu-footer-link {
  width: 1240px;
  height: 246px;
  margin: 0 auto;
}
.meizu-row {
  max-width: 1240px;
  height: 123px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.meizu-footer-service {
  width: 1000px;
  float: left;
  margin-top: 20px;
}
.meizu-footer-service li {
  float: left;
  text-align: center;
  width: 15%;
}
.meizu-footer-service li a {
  display: block;
  line-height: 27px;
  font-size: 12px;
  color: #666;
}
.meizu-footer-service li img {
  width: 50px;
  display: block;
  margin: 0 auto;
  height: 39px;
}
.meizu-footer-service li span {
  line-height: 30px;
  color: #999;
}
.onlive-server {
  float: right;
  text-align: right;
  margin-top: 20px;
}
.onlive-server span {
  color: #999;
  font-size: 12px;
  line-height: 30px;
}
.tel {
  color: #00c3f5;
  font-size: 25px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 40px;
}
.onlive-btn {
  height: 30px;
  padding: 0 16px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  display: inline-block;
  font-size: 14px;
  background: #0bbbef;
}
.meizu-footer-co {
  width: 100%;
  height: 53px;
  /* border: 1px solid red; */
  position: relative;
}
.meizu-footer-info-left {
  width: 80%;
  height: 18px;
  margin-top: 30px;
}
.clearfix li {
  float: left;
  padding-right: 15px;
  border-right: 1px solid #ccc;
  height: 18px;
  margin-right: 15px;
}
.clearfix li a {
  display: block;
  font-size: 12px;
  color: #999;
  line-height: 18px;
}
.icon-lang-logo {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/main/i-83.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.button-language {
  position: relative;
  display: block;
  padding-left: 24px;
}
.clearfix li a:hover {
  color: #00c3f5;
}
.meizu-footer-certificate {
  padding-top: 10px;
  font-size: 13px;
  color: #ccc;
  float: left;
}
.meizu-footer-certificate a {
  font-size: 13px;
  color: #ccc;
}
.ii-subscribe {
  float: right;
  position: relative;
}
.ii-subscribe img {
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.ii-subscribe span {
  border-right: 1px solid #ccc;
  height: 18px;
  margin-right: 10px;
}
.ii-subscribe a {
  position: relative;
}
.box {
  display: block;
  position: absolute;
  width: 149px;
  height: 152px;
  top: -170px;
  left: -17px;
}
.box img {
  width: 170px;
  height: 152px;
}
